<track-ml>
  <!-- This is a comment -->

  <header>
    <title>My Song Title</title>
    <description>Version 0.1</description>
    <tempo>125</tempo>
  </header>

  <play>
    <pattern href="#drum-loop" />
    <pattern href="#bass-loop" />
  </play>

  <!-- Sample instruments -->
  <audio id="kick" src="./samples/kick-sample.wav" />
  <audio id="snare" src="./samples/snare-sample.wav" />
  <audio id="hi-hat" src="./samples/hi-hat-sample.wav" />
  <audio id="bass" src="./samples/bass-sample.wav" />

  <!-- envelopes -->
  <envelope interpolation="linear">
    0 0;
    0.2 1;
    0.8 1;
    1 1
  </envelope>

  <!-- Patterns -->
  <para id="drum-loop">
    <repeat count="2">#kick c4 4</repeat>
    <pattern>r 4; #snare c4 4</pattern>
    <repeat count="4">#hi-hat c4 2</repeat>
  </para>

  <seq id="bass-loop">
    <repeat count="4">#bass g2 2 1; g3</repeat>
    <repeat count="4">#bass d#2 2 1; d#3</repeat>
    <repeat count="4">#bass f2 2 1; f3</repeat>
    <repeat count="4">#bass c2 2 1; c3</repeat>
  </seq>
</track-ml>
