<tracker-ml>
    <header>
        <title>My Song Title</title>
        <version>0.1</version>
        <speed>3</speed>
        <bpm>125</bpm>
    </header>
        
    <patterns-table repeat="2">
        #drum-loop
        #verse-1
        #verse-2
        #verse-1
        #drum-and-bass-loop
    </patterns-table>
    
    <!-- Instruments -->
    <instrument id="kick"><sample href="./samples/kick-sample.wav" /></instrument>
    <instrument id="snare"><sample href="./samples/snare-sample.wav" /></instrument>
    <instrument id="hi-hat"><sample href="./samples/hi-hat-sample.wav" /></instrument>
    <instrument id="bass"><sample href="./samples/bass-sample.wav" /></instrument>
    
    <!-- Patterns -->
    <pattern id="drum-loop">
<!-- 
This is a comment
A simple 3 channels drum loop
Line number appears before the `|` character, it can be in decimal or hex format
Channels appear after the `|` character and are separated by `;`
Format for channel info is: [pitch],[instrument-id],[volume-instruction],[effect]
Pitch is [^a-fA-F](?:-|#)[^1-7]
Instrument-id is a number (decimal or hex) or an id reference
-->

0x00| c-4,#kick;           ; c-4,#hi-hat;
0x02|          ;           ; c-4,#hi-hat;
0x04| c-4,#kick; c-4,#snare; c-4,#hi-hat;
0x06|          ;           ; c-4,#hi-hat;
<!-- -->
    </pattern>
        
    <pattern id="bass-loop">
0x00| g-2,#bass;
0x02| g-3,#bass;
0x04| g-2,#bass;
0x06| g-3,#bass;
0x08| g-2,#bass;
0x0a| g-3,#bass;
0x0c| g-2,#bass;
0x0e| g-3,#bass;
0x10| d#2,#bass;
0x12| d#3,#bass;
0x14| d#2,#bass;
0x16| d#3,#bass;
0x18| d#2,#bass;
0x1a| d#3,#bass;
0x1c| d#2,#bass;
0x1e| d#3,#bass;
0x20| f-2,#bass;
0x22| f-3,#bass;
0x24| f-2,#bass;
0x26| f-3,#bass;
0x28| f-2,#bass;
0x2a| f-3,#bass;
0x2c| f-2,#bass;
0x2e| f-3,#bass;
0x30| c-2,#bass;
0x32| c-3,#bass;
0x34| c-2,#bass;
0x36| c-3,#bass;
0x38| c-2,#bass;
0x3a| c-3,#bass;
0x3c| c-2,#bass;
0x3e| c-3,#bass;
    </pattern>

    <pattern id="drum-and-bass-loop">
        <zip-patterns>
            <repeat-pattern count="8">
                <pattern href="#drum-loop" />
            </repeat-pattern>
            <pattern href="#bass-loop" />
        </zip-patterns>
    </pattern>
</tracker-ml>
